:root{
    --1rem-size: 1rem;
    --alignment: center;
    --height: auto;
    --darkblue-color: darkblue;
    --border-details: 1px solid;
}

main {
  max-width: 840px;
}
nav {
  background-color: var(--darkblue-color);
  padding: 10px;
}
nav a {
  color: white;
  display: block;
  padding: 20px;
}
h1 {
  color: var(--darkblue-color);
}
main img {
  width: 150px;
  height: var(--height);
  border: var(--border-details) black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}
p {
  padding: 0px;
}
aside {
    width: 20rem;
    margin: var(--1rem-size);
    border: var(--border-details) rgb(0 0 0 / 0.2); 1️⃣
    padding: var(--1rem-size);
    background-color: #eee;
    color: #333;
    text-align: var(--alignment);
}
aside img{
    width: 200px;
    height: var(--height);
}
footer {
  margin-top: 15px;
  border-top: var(--border-details) #000;
  text-align: var(--alignment);
}